<div class="block" id="search">
  <div id="quicksearch">
  <fieldset>
    <legend><%= t("search") %></legend>
      <%= text_field_tag :search, params[:search], :placeholder => t("search") %>
  </fieldset>
</div>  
</div>