<div class="grid_12">
  <div class="box">
    <div class="block" id="general_info">
      <p><strong><%= t("your_surfing_time_is_finished", :username => current_account.username) %></strong></p>
    </div>
  </div>
</div>    
